//Mixin é como uma função que possui às formatações, propriedades, e recebe os valores através de parâmetros
@mixin button-style($color) {
    background: $color;

    &:hover {
        color: $color;
        letter-spacing: 3px;
        border: 1px solid $color;
        background: none;
    }
}

.btn {
    width: 200px;
    padding: 10px 0;
    border: 0;
    border-radius: 10px;
    transition: .5s all;
    text-transform: uppercase;
    display: block;
    margin: 10px 0;
    color: $color-white;
    cursor: pointer;

    &.btn-azul {
        @include button-style($color-blue);
    }
    
    &.btn-verde {
        @include button-style($color-green);
    }
    
    &.btn-roxo {
        @include button-style($color-purple);
    }
    
    &.btn-marrom {
        @include button-style($color-brown);
    }

    &.btn-preto {
        @include button-style($color-black);
    }
}