.btn {
    width: 200px;
    padding: 10px 0;
    background: none;
    border: 0;
    border-radius: 10px;
    transition: .5s all;
    text-transform: uppercase;

    &:hover {
        letter-spacing: 3px;
        background: none;
    }
}

.btn-azul {
    @extend .btn;
    background: $color-blue;
    border: 1px solid $color-blue;
    color: $color-white;

    &:hover {
        color: $color-black;
    }
}